body {
  width: 800px;
  margin: 0 auto;
  background-color: #EEEEEE;
  font-family: "ff-din-web-1","ff-din-web-2", sans-serif;
  color: #000000;
  text-decoration: none;
}

.header {
  font-size: 20px;
  padding: 0 7px 0 7px;
  background-color: #E6E2AF;
  color: #002F2F;
  font-size: 20;
  border: 1px black;
  border-style: none solid solid solid;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-bottom: 4px;
}

a, a:visited {
  text-decoration: none;
  color: #046380;
}

.content {
  background-color: #FFFFFF;
  position: relative;
  float: left;
  width: 614px;
  border: 1px black;
  padding: 7px 4px 7px 4px;
  margin: 15px 0 0 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.content h1, .content p, .content span {
  margin-left: 5px;
  margin-left: 5px;
}

.content h1 {
  color: #193441;
  margin: 0 auto;
}

.content a:hover {
  text-decoration: underline;
}

.post {
  margin-left: 5px;
  margin-right: 5px;
  color: #000000;
  font-size: 10;
}

.post h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #046380;
  font-size: 50px;
}

.date {
  margin: 0 auto;
  color: #A7A37E;
  font-size: 13px;
  letter-spacing: 0.3em;
}

.rightNav {
  position: relative;
  float: right;
  width: 160px;
  padding: 7px 7px 7px 0px;
  margin: 0 0px 0 4px; 
  list-style: none;
}

.rightNav h1 {
  font-size: 30px;
  color: #000000;
  margin-top: 0px;
}

.rightNav span {
  height: 30px;
  margin-top: 1px;
  margin-bottom: 1px;
  letter-spacing: 0.1em;
}

.rightNav a, .rightNav a:visited {
  padding-left: 9px;
  display: block;
  text-decoration: none;
  color: #046380;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  line-height: 30px;
}

.rightNav a:hover {
  background-color: #002F2F;
  color: #FFFFFF;
}
