body {
  width: 800px;
  margin: 0 auto;
  background-color: #FFFFFF;
  font-family: "ff-din-web-1","ff-din-web-2", sans-serif;
  color: #A7A37E;
  text-decoration: none;
}

.header {
  font-size: 20px;
  padding: 0 7px 0 7px;
  background-color: #E6E2AF;
  color: #002F2F;
  font-size: 20;
  border: 1px black;
  border-style: none solid solid solid;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-bottom: 4px;
}

a, a:visited {
  text-decoration: none;
  color: #046380;
}

.content {
  position: relative;
  float: left;
  width: 608px;
  border: 1px black;
  padding: 7px 4px 7px 4px;
  margin: 0 4px 0 0;
}

.content a:hover {
  text-decoration: underline;
}

.post {
  color: #000000;
  font-size: 12px;
}

.post h2 {
  color: #046380;
  font-size: 18px;
}

.date {
  color: #A7A37E;
  font-size: 13px;
  letter-spacing: 0.3em;
}

.rightNav {
  position: relative;
  float: right;
  width: 160px;
  padding: 7px 7px 7px 0px;
  margin: 0 0px 0 4px; 
  list-style: none;
}

.rightNav h1 {
  font-size: 30px;
  color: #000000;
}

.rightNav span {
  height: 30px;
  margin-top: 1px;
  margin-bottom: 1px;
  letter-spacing: 0.1em;
}

.rightNav a, a:visited {
  padding-left: 9px;
  display: block;
  text-decoration: none;
  color: #046380;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  line-height: 30px;
}

.rightNav a:hover {
  background-color: #002F2F;
  color: #FFFFFF;
}
