<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="food, fun, programming, mechatronics" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/mav.css" />
    {% for css in site.css %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ css }}" />
    {% endfor %}
    <title>Maverick Lee - {{ page.title }}</title>
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div class="header">
      <span>Maverick Lee</span>
    </div>  
    <div class="content">
      {{ content }}
    </div>
    <div class="rightNav">
      <a href="/">Home</a><br/>
      <a href="/">Blog</a><br/>
      <a href="/projects">Projects</a><br/>
      <a href="/resume">Resume</a><br/>
      <a href="/contact">Contact</a><br/>
    </div>
  </body>
</html>
