<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="food, fun, programming, mechatronics" />
    {% for css in site.css %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ site.css_root }}/{{ css }}" />
    {% endfor %}
    <title>Maverick Lee - {{ page.title }}</title>
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div class="header" style="display:none">
      <span>Maverick Lee</span>
    </div>
    <div class="content">
      {{ content }}
    </div>
    <div class="rightNav">
      <h1>Maverick Lee</h1>
      <span><a href="/">Home</a></span>
      <span><a href="/blog">Blog</a></span>
      <span><a href="/projects">Projects</a></span>
      <span><a href="/resume">Resume</a></span>
      <span><a href="/about">About</a>
    </div>
  </body>
</html>
