<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Tempo - Interactive Music Game" />
    <meta http-equiv="cache-control" content="public" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300|Text+Me+One|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="all" href="/css/tempo.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/pygments.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/fontello.css" />
    <script type="text/javascript">
      if (document.location.hostname.search("mavericklee.com") !== -1) {
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23489956-1']);
        _gaq.push(['_trackPageview']);
      }
    </script>
    <title>{{ page.title }} | Tempo</title>
  </head>

  <body>
    <div class="nav shadow">
      <h1><a href="/tempo">Tempo</a></h1>
      <span><a class="first" href="/tempo"><i class="icon-home"></i><span>Home</span></a></span>
      <hr>
      <span><a href="/tempo/technology"><i class="icon-lamp"></i><span>Technology</span></a></span>
      <hr>
      <span><a href="/tempo/team"><i class="icon-about"></i><span>Team</span></a></span>
      <hr>
    </div>
    <div class="first-content content shadow">
      {{ content }}
    </div>
    <script type="text/javascript">
      if (document.location.hostname.search("mavericklee.com") !== -1) {
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
        '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      }
    </script>
  </body>
</html>
